<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-input
      label="Outline input (broken on ios)"
      label-placement="floating"
      fill="outline"
      mode="md"
      placeholder="Enter text"
    ></ion-input>
  </div>

  <div class="ion-padding">
    <ion-input
      label="Outline input without mode=md"
      label-placement="floating"
      fill="outline"
      placeholder="Enter text"
    ></ion-input>
  </div>
</ion-content>
